{% extends 'templates/app.twig' %}

{% block content %}

    <div class="d-flex justify-content-center">
        <h1>Manage products</h1>
    </div>
    <hr>

    <h2 style="align-content: center">Add a new product</h2>
    <form action="/admin/add" method="post" autocomplete="off">
        <div class="col-md-6 form-group">
            <input type="text" class="form-control" name="name" placeholder="Product Name">
        </div>
        <div class="col-md-6 form-group">
            <input type="number" class="form-control" name="price" placeholder="Product Price">
        </div>
        <div class="col-md-3">
            <input type="submit" class="btn btn-primary" value="Add Product">
        </div>
        <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
	</form>
    <hr>
    <h2>Delete an existing product</h2>
    <form action="/admin/delete" method="get">
        <div class="col-md-6 form-group">
            <select onchange="this.form.submit();" name="id" class="form-control">
                {% for product in products %}
                <option value="{{product.id}}">{{ product.name }}</option>
                {% endfor %}
    		</select>
        </div>
	</form>
{% endblock %}
