{% extends 'templates/app.twig' %}

{% block content %}
    <h1> Welcome to your dashboard, {{ auth.user.name }}</h1>
    <hr>
    {% if auth.user.is_admin %}
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-light"><a href="{{ route('admin.manage') }}" class="btn btn-link" style="text-decoration: none">Manage Products</a></button>
    </div>
    {% endif %}
{% endblock %}
