{% if pager.totalPages > 1 %}
    <div style="width:100%; text-align: right;">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link {% if pager.currentPage == 1 %}disabled {% endif %}item"
                    {% if pager.currentPage > 1 %}
                        href="{{ route('products') ~ '?page=' ~ (pager.currentPage - 1) ~ '&sort=' ~ pager.sort}}"
                    {% endif %}>
                    &lt;
                </a>
            </li>
            {% for i in 1..pager.totalPages %}
                <li class="page-item">
                    <a class="page-link {% if pager.currentPage == loop.index %}active {% endif %}item"
                        href="{{ route('products') ~ '?page=' ~ loop.index ~ '&sort=' ~ pager.sort}}">
                        {{ loop.index }}
                    </a>
                </li>
            {% endfor %}
            <li class="page-item">
                <a class="page-link {% if pager.currentPage == pager.totalPages %}disabled {% endif %}item"
                {% if pager.currentPage < pager.totalPages %}
                    href="{{ route('products') ~ '?page=' ~ (pager.currentPage + 1) ~ '&sort=' ~ pager.sort}}"
                {% endif %}>
                    &gt;
                </a>
            </li>
        </ul>
    </div>
{% endif %}
